// $themes: (
//     light: (text: #0a0a0a,
//         background: #f5f9ff,
//         primary: #fb7474,
//         secondary: #f1c6c6,
//         accent: #bc2f2f,
//     ),
//     dark: (text: #f5f5f5,
//         background: #00040a,
//         primary: #8b0404,
//         secondary: #390e0e,
//         accent: #d04343,
//     ),
// );

$themes: (
    light: (text: #02312d,
        text_dark: #02312d,
        background: #f5fffe,
        primary: #49d0c2,
        secondary: #ddfdfa,
        accent: #4d8984,
    ),
    dark: (text: #cefdf9,
        text_dark: #000a09,
        background: #000a09,
        primary: #2fb6a9,
        secondary: #02221f,
        accent: #76b2ad,
    ),
);

:root {
    @each $name, $values in $themes {
        &[data-theme="#{$name}"] {
            @each $a, $b in $values {
                --clr-#{$a}: #{$b};
            }
        }
    }
}

$clr-seperator: #808080b3;
$clr-destructive: #e00000;