@use "abstracts/index" as *;

.add_exercise {
    display: flex;
    flex-direction: row;
    gap: .5em;

    div {
        display: flex;
        gap: .5em;
    }
}

.exercise_table {
    input {
        background-color: transparent;
        width: 100%;
        border: 1px solid;
    }

    .remove_exercise_button {
        background-color: $clr-destructive;
        color: #fff;
    }
}