@use "abstracts/index" as *;

*,
*::after,
*::before {
    box-sizing: border-box;
    color: var(--clr-text);
    font-family: $font-family;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: $nav-height;
}

body {
    display: flex;
    flex-direction: column;
    font-size: $fs-200;
    min-height: 100vh;
    background-color: var(--clr-background);
    margin: 0;
}

header {
    display: flex;
    height: $nav-height;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
    box-shadow: 0 0 5px $clr-seperator;
    overflow-x: auto;

    ul {
        display: flex;
        gap: 1em;
        margin: 0;
        padding: 0;
        list-style: none;
        font-size: $fs-300;

        a {
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .navbar_buttons {
        display: flex;
        gap: 1em;

        button {
            border: 1px solid;
        }
    }
}

main {
    flex: 1;
    padding: 1em 2em;
    overflow: auto;
    transition: padding .3s ease;

    @media (width < 800px) {
        padding-inline: 1em;
    }

    @media (width < 600px) {
        padding-inline: .5em;
    }

    @media (height < 400px) {
        padding-block: .2em;
    }
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: 1em;
    box-shadow: 0 0 5px $clr-seperator;

    #repo {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: .25em;

    }

    #copy {
        margin: 0;
        opacity: .8;
    }
}

svg {
    width: 1.5em;
    fill: var(--clr-text);
    display: block;
}

button {
    background-color: transparent;
    border: none;
    border-radius: 10px;
    font-size: $fs-200;
    width: fit-content;
    cursor: pointer;
    transition: translate ease .2s;

    &:hover {
        translate: 0 -2px;
    }
}

.button {
    background-color: var(--clr-primary);
    color: var(--clr-text_dark);
    border: none;
    padding: .5em 1em;
    cursor: pointer;
}

input {
    background-color: var(--clr-primary);
    color: var(--clr-text_dark);
    border: none;
    padding: .2em .5em;
    border-radius: 10px;
    font-size: $fs-200;
}

h1 {
    font-size: $fs-600;
    margin: 0;
}

.destructive {
    background-color: $clr-destructive;
    color: #fff;
}

.table_container {
    overflow-x: auto;

    &.overflowing {
        th {
            display: none;
        }

        td {
            display: grid;
            grid-template-columns: 8ch auto;
            gap: .5rem;
            padding-block: .75rem;
            vertical-align: middle;
        }

        td:first-child {
            padding-top: 1.75rem;
        }

        td:last-child {
            padding-bottom: 1.75rem;
        }

        td::before {
            content: attr(data-cell)": ";
            text-transform: capitalize;
            font-weight: 700;
            align-self: center;
        }

        th+th,
        td+td {
            border-left: none;
        }

        th,
        td {
            width: 100%;
        }
    }
}

table {
    border-collapse: collapse;
    background-color: hsl(0 0% 50% / .1);
    width: 100%;
    border-radius: 10px;

    caption,
    th,
    td {
        padding: 1rem;
        text-transform: capitalize;
    }




    caption,
    th {
        text-align: left;
    }

    caption {
        font-size: 1.5rem;
        font-weight: 700;
    }

    tr:first-child {
        background-color: hsl(0 0% 0% / 0.25);
    }

    tr:nth-of-type(2n) {
        background-color: hsl(0 0% 0% / 0.1);
    }

    th,
    td {
        width: calc(100% / 4);
        min-width: 125px;
    }

    th+th,
    td+td {
        border-left: 1px solid hsl(0 0% 50% / 0.1);
    }
}